body {
  margin: 0px; /* Prevents the canvas from having 5 pixels of space surrounding it. */
}

canvas {
  margin: 0px;
  display: block; /* Prevents the canvas from having 5 pixels of space below it. */
}