<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.webServer>
      <staticContent>
        <!-- Allow .glsl files to be served to the client, since they are the shader files -->
        <mimeMap fileExtension=".glsl" mimeType="application/x-shader" />
      </staticContent>
    </system.webServer>

</configuration>
